/未命名.base
/for_ppt
/.claude
/.obsidian
/信息技术与医学革命
/人工智能概论/
/数据库实验/实验报告.md


/矩阵分析/mineru_output/
/人工智能概论/人工智能课件/
/认知科学概论/文献调研/
/认知科学概论/An evolutionary perspective on modes of learning in Transformers.pdf
/认知科学概论/Evolvable AI Threats of a new major transition in evolution.pdf
/认知科学概论/Quantized Evolution Strategies High-Precision Fine-Tuning of Quantized LLMs at Low-Precision Cost.pdf
/认知科学概论/Transformers are Inherently Succinct.pdf
/数据库实验/
/for_ppt/